@using InfosNews.Helper
@model InfosNews.DAL.News

<!-- begin more articles -->
<div class="articles">
    <h2 class="title">More News</h2>
    <!-- begin post -->
    <div class="post">
        <div class="thumb"><a href="~/News/NewsDetail/@Model.idNews"><img src="~/Content/images/@Model.NewsPicture" alt="" /></a></div>
        <h2><a href="~/News/NewsDetail/@Model.idNews">@Model.NewsTitre</a></h2>
        <p>@Model.NewsResume</p>
        <div class="details">
            <p class="l"> <span class="category"><a href="#">Catégorie (à implémenter)</a></span> - Posted by <a href="~/News/NewsByAuteur/@Model.idAuteur">@Model.Auteur.auteurPrenom @Model.Auteur.auteurNom</a> on @Model.NewsDate</p>
            <p class="r"> <a href="#">!!!Comments à implémenter!!!</a> </p>
        </div>
        @*<div>
            @Html.BoldTitle("prout", "Charlemagne")
        </div>*@
    </div>
    <!-- end post -->
    <div class="break"></div>
</div>
<!-- end more articles -->