@model IEnumerable<InfosNews.DAL.Auteurs>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <p>
        @Html.ActionLink("New", "addAuteur", new { area = "Admin", controller = "Home"})
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.auteurNom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.auteurPrenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.auteurPower)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.auteurLogin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.auteurPassword)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.auteurNom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.auteurPrenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.auteurPower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.auteurLogin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.auteurPassword)
            </td>
            <td>
                @Html.ActionLink("Edit", "editAuteur", new { area = "Admin", Controller = "Home", id = item.idAuteur }) |
                @Html.ActionLink("Delete", "deleteAuteur", new { area = "Admin", Controller = "Home", id = item.idAuteur })
            </td>
        </tr>
    }
    
    </table>
</body>

